# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-Learn
6. Keras
7. TensorFlow
8. PyTorch
9. ggplot2

|Data Science Tools|
|------------------|
|RStudio|
|Visual Studio Code|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives:__
- List popular languages for Data Science
- List Commonly Used Libraries
- Creating a Table in a Markdown Cell
- Evaluate Expressions in a Code Cell
- Utilize Headers and Bold Characters in a Markdown Cell

## Author
Froilan Buendia